{% include 'layout/header.html' %}

<body>
  <div class="container">
    {% include 'layout/navbar.html' %}
    {% block content %}

    {% endblock %}
  </div>
  <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
  <script>
    var typed = new Typed('.typing-text', {
      strings: ['Pelajar', 'Mahasiswa', 'Web Developer'],
      typeSpeed: 100,
      backSpeed: 100,
      loop: true
    })
  </script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <script src="{{url_for('static', filename='js/index.js')}}"></script>
</body>
