<div class="navbar">
  <div class="logo">Rayhan</div>
  <div class="menu">
    <ul>
      <a href="#profile-content"><li>Home</li></a>
      <a href="#profile-content-education"><li>Education</li></a>
      <a href="#profile-content-skills"><li>Skills</li></a>
      <a href="#profile-content-experience"><li>Experience</li></a>
      <a href="#profile-content-contact"><li>Contact</li></a>
    </ul>
  </div>
  <div class="navbar-icon-toggle" id="navbar-icon-toggle">
    <input type="checkbox">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
